.navigation-bar{
       background-color: #1f2428;
       height: 50px;
       display: flex;
       justify-content: center;
}
.navigation-bar .nav-link {
       color: #fff;
       
}
.hero{
       background-color: #1f2428;
       height: 80vh;
       color: #fff;
}

#profile-pic{
       height: 200px;
       width: 200px;
       object-fit: cover;
}
.hero-content {
       margin: 0 auto;
       width: 800px;
    justify-content: center;
    padding-top: 3em;
}
.hero-content-intro {
       display: flex;
       color: #fff;
       align-items: center;
       gap: 1em;
}
.intro-name {
       font-size: 72px;
}
.description{
       font-size: 60px;
}
.hero-content-subheadline{
       text-align: center;
}