<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet"  media="screen" href="{{ url_for('static', filename= 'css/main.css') }}">
       <link rel="stylesheet"  media="screen" href="{{ url_for('static', filename= 'css/navbar.css') }}">
       <link rel="stylesheet"  media="screen" href="{{ url_for('static', filename= 'css/about.css') }}">
       <link rel="stylesheet"  media="screen" href="{{ url_for('static', filename= 'css/projects.css') }}">
       <link rel="stylesheet"  media="screen" href="{{ url_for('static', filename= 'css/education.css') }}">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
       <script src="main.js"></script> 
       <title>Sabah Ummie</title>
</head>
<body>
       <nav class="navigation-bar">
              <a class="nav-link" id="nav-item-1"href="">About</a>
              <a class="nav-link" id="nav-item-2" href="">Projects</a>
              <a class="nav-link" id="nav-item-3" href="">Education & Skills</a>
              <a class="nav-link" id="nav-item-3" href="">Achievements</a>
              <!-- <a class="nav-link" id="nav-item-4" href="">Courses</a> -->
              <a class="nav-link" id="nav-item-4"href="">Contact</a>
       </nav>
       <section class="hero section-height" >
              <div class="hero-content d-flex flex-column">
                     <div class="hero-content-intro d-flex flex-row">
                            <img class= "center" id="profile-pic" src="{{ url_for('static', filename= 'images/sabah.jpg') }}" alt="sabah.jpg">
                            <h1 class="intro-name center" style="font-size: 4vw;"> Hi There! I am Sabah Ummie</h1>
                     </div>
                     <div class="socials">
                           <span>
                                   <a href="https://www.linkedin.com/in/sabah-ummie/" target="_blank">
                                          <img class="socials-icon" src="{{url_for('static', filename='images/linkedin_round.png')}}" alt="linkedIn"/>
                                   </a>
                            </span>
                           <span>
                                   <a href="https://github.com/sabah215" target="_blank">
                                          <img class="socials-icon" src="{{url_for('static', filename='images/github_col.png')}}" alt="github"/>
                                   </a>
                            </span>
                            <span>
                                   <a href="https://www.facebook.com/sabah.ummie" target="_blank">
                                          <img class="socials-icon" src="{{url_for('static', filename='images/facebook_round.png')}}" alt="facebook"/>
                                   </a>
                            </span>
                            <span>
                                   <a href="https://twitter.com/SabahUmmie" target="_blank">
                                          <img class="socials-icon" src="{{url_for('static', filename='images/twitter.png')}}" alt="github"/>
                                   </a>
                            </span>
                            <span>
                                   <a href="https://sabahummie.hashnode.dev" target="_blank">
                                          <img class="socials-icon" src="{{url_for('static', filename='images/hashnode.png')}}" alt="hashnode"/>
                                   </a>
                            </span>
                          
                     </div>
                     <div class="download">
                            <button class="btn-download">Get Resume</button>
                     </div>
              </div>      
       </section>
       <section class="about section-height" >
              <h1 class="about-head">About Me</h1>
              <div class="container">
                     <p class="para para-1-top">A highly skilled Software Engineer with 2+ years of professional experience building web and software modules
                            and participate in the full development life cycle. I possess excellent communication and interpersonal skills and able 
                            to work collaborative environment to create elegant and efficient solutions to complex problems. I look for new 
                            challenges and opportunities to learn and grow.
                     </p>
                     <br> <br>
                     <p class="para para-2-top">Throughout my career, I have had the opportunity to work on a wide range of projects, 
                            from small startups to large enterprise systems.I have strong skills in languages such as JavaScript, HTML, and CSS, 
                            as well as frameworks such as React and Node.js. I am proficient in Java and Python with strong Computer Science 
                            fundamentals including data structures, algorithms, OOP, networking and communication.
                     </p><br><br>
                     <p class="para para-3-top">I am excited to share my work with you and hope you enjoy exploring my portfolio. Please feel 
                            free to contact me if you have any questions or want to discuss potential opportunities.
                     </p>
              </div>
       </section>
       <section class="projects section-height">
              <h1 class="project-head">Projects</h1>
              <h4 class="experience">Experience</h4>
              <div class="row experience-projects" style=" top: 20%;"> 

                     <div class="card"><p class="project-title">Web-base Education Portal for People with Epilepsy</p></div>

                     <div class="card"><p class="project-title">Data Analysis of PTSD Patient Heart Rate Data</p></div>
                   
                     <div class="card"><p class="project-title">Sales Campaign Application</p></div>

                    
              </div>
              <!-- <div class="row experience-projects" style="top: 50%;">
                     <div class="card"><p class="project-title">Service Monitoring Application</p></div>
                    
                     <div class="card"><p class="project-title">Customer Panel for eCare Module</p></div>
                     
                     <div class="card"><p class="project-title">Network Engineering Resource Management (NERM) Project</p></div>
              </div> -->
              <h4 class="standalone">Standalone Project</h4>
              <div class="row standalone-project"> 

                     <div class="card"><p class="project-title" style="left: 20%; ">Portfolio Project</p> </div>

                     <div class="card"><p class="project-title" style="left: 20%; ">Capital Quiz Game</p></div>
                    
                     <div class="card"><p class="project-title" >Hand-written Digit Recognition</p> </div>

               </div>
              
       </section>
       <section class="education section-height">
              <h1 class="education-head">Education</h1>
              <!-- <form action="">
                     <label for="">Name</label>
                     <input type="text" name = "name">
                     <label for="">Email</label>
                     <input type="text" name = "email">
                     <label for="">Subject</label>
                     <input type="text" name = "subject">
                     <label for="">Message</label>
              </form> -->
       </section>
       <footer>
              <small> c 2023 Ummie development. All rights reserved.</small>
              <small> Email: sabah.ummie@gmail.com</small>
       </footer>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html> 

