@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body
{
    font-size: 3.2vw;
    
}

img{
       height: 50%;
       max-width: 50%;
}
section {
       overflow: hidden;
}

.container{
       overflow: hidden;
}
.navigation-bar{
       background-color: #5F2C7B;
       height: 50px;
       display: flex;
       justify-content: center;
}
.navigation-bar .nav-link {
       color: #fff;
       
}
#nav-item-1:hover, #nav-item-2:hover, #nav-item-3:hover, #nav-item-4:hover, #nav-item-5:hover{ 
      text-decoration:underline !important;
      color: #fff;
}

.socials-icon{
       width: 10vh;
       
}
.socials {
       display: flex;
       flex-direction: row;
       justify-content: center;
       min-height: 10vh;
       align-items: center;
     /* Here i have addeda comment*/
}

.socials > span > a{
       display: block;
       margin-left: auto;
       margin-right: auto;
}

.hero{
       background-color: #7B4996;
       color: #fff;    
       min-height: 100vh; 
      
}

#profile-pic{
       height: 200px;
       width: 200px;
       object-fit: cover;
       
}
.hero-content {
       display: block;
      
       margin-left: auto;
       margin-right: auto;
       width: 800px;
       justify-content: center;
       padding-top: 25vh;
       display: flex;
       align-items: center;
       vertical-align: middle;
      

}
.download {
      
       display: inline;
       margin-left:auto;
       margin-right: auto;
}
.btn-download{
    
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 2.5rem;
       font-size: 1.5rem;
     
       color: #5F2C7B;
       width: 285px;
       height: 62px;
      
       /* top: 80vh; */
       
       background: #C0A1D2;
       box-shadow: 6px 10px 4px rgba(0, 0, 0, 0.25);
       border-radius: 9px;
}
.center{
       display: block;
       margin-left: auto;
       margin-right: auto;
}
.hero-content-intro {
       display: flex;
       color: #fff;
       align-items: center;
       gap: 1em;
       width: 40vw;
       margin-left: 20%;
       /* display: block;
       margin-left: auto;
       margin-right: auto; */
      
}
.intro-name {
       font-size: 72px;
       padding-top: 0px;
       font-family: 'Roboto', sans-serif;

}
.description{
       font-size: 25px;
}
.hero-content-subheadline{
       text-align: left;
       width: 50vw;
       margin-top: 5%;
       /* background-color: aqua; */
       /* position: absolute; */
       display: inline;
       margin-left: auto;
       margin-right: auto;

 }
 .slogan{
       font-size: 1.1vw;
       text-align: justify;
       /* position: relative; */
      
 }
.projects{
       background-color: #E3D2EC;
       height: 100vh;
} 
.project{
       height: 5%;
}
.skills{
       background-color: #C0A1D2;
       height: 80vh;
}
.contact{
       background-color: #E3D2EC;
       height: 80vh;  
}  
.card-description{
       background-color: #C0A1D2;
       margin-left: 0px !important;
       position: relative;
       color: #fff;
}

.card {
       width : 18rem  !important;
}

.card-learn-more{
       background-color: #EFCEE4; 
       border:#EFCEE4; 
       color:#000; 
       display:block; 
       margin-left:auto; 
       margin-right:auto;
}

/* .btn {
       background-color: #EFCEE4; 
       border:#EFCEE4; 
       color:#000; 
       display:block; 
       margin-left:auto; 
       margin-right:auto;  
} */



